

/*--------General styles -------*/

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #e2e3ed;
    background-color: hsl(226, 43%, 10%); /* Very dark blue */
    width: 80%;
    margin: 0 auto;
  }

h2 {
    font-size: 1.5em;
    margin: 0;
};

h3 {
    font-size: 1em;
    margin: 0;
};

h4 {
    font-size: .75em;
    color: hsl(235, 45%, 61%);
    margin: 0;
};

.container {
    width: 80%;
    margin: 0 auto;
}

.hide {
    /* '!important' is to make sure that when we add the class using JS, it takes precendence */
    display: none !important;
}


/* Section 1-Profile*/

.profile-container {
    background-color: hsl(235, 46%, 20%); /*Dark blue */
    border-radius: 45px;
}

.profile-info {
    background-color: hsl(246, 80%, 60%);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 45px;

}

.profile-details {
    padding-left: 20px;
}

.profile-picture {
    width: 25%;
    height: 25%;
}

.time {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}


/* Section 2 Stat Info */

    /* General styles for stat info */

    .all-info {
        display: flex;
        flex-direction: column;
        align-items: space-between;
    }

    .individual-info {
        border-radius: 35px;
        background-color: hsl(235, 46%, 20%);
        padding: 20px;
    }

    .individual-info-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .image {
        max-height: 40px;
    }


    /*------WORK--------*/

    #work-container {
        background-color:hsl(15, 100%, 70%); 
        border-radius: 40px;
        
    }


    /*------PLAY-------*/
    #play-container {
        background-color: hsl(195, 74%, 62%);
        border-radius: 40px;
        
    }

    /*------STUDY-------*/
    #study-container {
        background-color: hsl(348, 100%, 68%);
        border-radius: 40px;
        
    }

    /*------EXERCISE-------*/
    #exercise-container {
        background-color: hsl(145, 58%, 55%);
        border-radius: 40px;
    }

    /*------SOCIAL-------*/
    #social-container {
        background-color: hsl(264, 64%, 52%);
        border-radius: 40px;
    }

    /*------SELFCARE-------*/
    #selfcare-container {
        background-color:hsl(43, 84%, 65%);
        border-radius: 40px;
    }